.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.header > h1 {
  color: #f28d53;
  font-size: 2rem;
  filter: drop-shadow(1px 1px 1px #aaa);
  border-bottom: 5px solid;
  margin: 50px auto;
}

.content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 50px;
}

.left {
  flex: 0.9;
}

.information > h3 {
  color: #3f51b5;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(1px 1px 1px #aaa);
}

.information > h3:last-of-type {
  margin-top: 1rem;
}
.right {
  padding-top: none !important;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .formControl {
    width: 100%;
    margin: 12px auto !important;
  }
  .header > h1 {
    margin: 50px auto !important;
    margin-bottom: 50px;
  }

  .content {
    flex-direction: column;
  }
}
