.table {
  margin-top: 20px;
  overflow: scroll;
  color: #000;
  background-color: white;
  height: 460px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  background-color: #3f51b5;
  color: #fff;
}
